.all{
    font-family: 'Poppins', sans-serif;
    
}
.header{
    
    height: 80px;
    width: 95%;
    z-index: 100;
    padding: 0 20px;
    background: #fff;
}
a{
    text-decoration: none;
}
.nav{
    max-width: 1100px;
    width: 100%;       
    margin: 0 auto; 
}
.nav,
.nav_item{
    color: #101010;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav_logo{
    font-size: 25px;
}
.nav_item{
    column-gap: 25px;
}
.button:hover,
.nav_link:hover{
    color: #d9d9d9;
}
.button{
    color: #101010;
    padding: 6px 24px;
    border: 2px solid #121212;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}
.button:active{
    transform: scale(0.98);
}

/* Home */
.home{
    position: relative;
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
}


/* Form */
.form_container{
    position: absolute;
    max-width: 320px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;   
    background: #fff;
    padding: 25px;
    border-radius: 12px;
}


.form_close{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}
.form_container h2{
    font-size: 22px;
    color: #0b0217;
    text-align: center;
}
.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input_box input{   
    height: 100%;
    width: 100%;
    align-items: center;
    border: none;    
    outline: none;
    padding: 0 10px;
    color: #333;    
    border-bottom: 1.5px solid #aaaaaa;
    transition: all 0.2s ease;   
}
.input_box input:focus{
    border-color: #101010;
}
.input_box i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size:  20px;
    color: #707070;   
}
/*.input_box i.email,
.input_box i.username,
.input_box i.password{
    left: -10px;
}*/

.input_box input:focus ~ i.email,
.input_box input:focus ~ i.username,
.input_box input:focus ~ i.password{
    color: #101010;
}
.input_box i.pw_hide{
    right: 0;
    font-size: 18px;
    cursor: pointer;
}
.option_field{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_container a{
    color: #101010;
    font-size: 12px;
}
.form_container a:hover{
    text-decoration: underline;
}
.checkbox{
    display: flex;
    column-gap: 8px;
    white-space: nowrap; 
    font-size: 12px;
}
.checkbox input{
    accent-color: #101010;
}
.checkbox label{
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    color: #0b0217;
}
.form_container .buton{
    background: #8b8b8b;
    border: 2px solid #8b8b8b;
    margin-top: 30px;
    width: 100%;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}
.login_signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
/*home*/
.home .h_container{
    display: flex;
    position: absolute;
    align-items: center;
    width: 50%;
    height: 50%;
    margin-top: 100px;
    margin-left: 50px;
    padding: 30px;
    border-radius: 12px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 5px solid #fff;
}
.home .welcome{
    font-size: 20px;
    text-align: left;
    margin-top: -50px;
    margin-left: 10px;
    
}
.brrr{
    background: #d9d9d9;
    width: 50%;
    height: 50%;
    border-radius: 12px;
    margin-left: 30px;
    margin-top: 12px;
    align-items: center;
}
.foods{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    align-items: center;
    text-align: center;
}
/*products*/
.product .p_container {
    position: relative;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    z-index: 10;
}
.product .content {
    padding: 30px;
    background: #fff;
    height: 80%;
    width: 85%;
    z-index: 10;
    margin-top: 35px;
    margin-left: 30px;
    
    margin-bottom: 15px;
    display: inline-block;

}
  
.product .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
  
.product .content p {
    margin-bottom: 30px;
}
/*footer*/
footer{
    background: #fff;
    text-align: center;
    color: #101010;
    padding: 10px;
}